.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3); 
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.bad{
  background-color: #ff2b2b;
}

.good{
  background-color: green;
}


.close-button {
  background-color: #ff5b5b;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #ff2b2b;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}